;; The file is updated automatically
{:deps {org.clojars.hephaistox/automaton-build #:mvn{:version "1.4.4-2-la"}}
 :paths []
 :tasks
 {:requires
  [[automaton-build.tasks.launcher.bb-entrypoint :as build-task-bb-entrypoint]
   [babashka.process :as babahska-process]]
  heph-task {:doc "Launch an Hephaistox task"
             :task (System/exit (build-task-bb-entrypoint/-main
                                 *command-line-args*))}
  lconnect
  {:doc
   "Repl in case automaton-web-dev is failing. Using -f or --force cli arguments to force start if some part are failing"
   :task (try (-> (babahska-process/shell
                   "clojure"
                   "-M:common-test:env-development-repl:build"
                   *command-line-args*)
                  System/exit)
              (catch Exception e
                (println "Repl failed also - error during repl startup"
                         (ex-message e))))}}}
