{:deps {org.clojars.hephaistox/automaton-build #:mvn{:version "3.2.0-31-la"}}
 :paths []
 :tasks
 {-base-deps {:doc "Dependencies for a task using bb"
              :extra-deps {org.clojure/tools.cli {:mvn/version "1.1.230"}}}
  :requires [[automaton-build.tasks.common :as tasks-common]]
  lconnect
  {:doc
   "Repl in case automaton-build is failing. Using -f or --force cli arguments to force start if some part are failing"
   :task (try (-> (babahska-process/shell "clojure"
                                          "-M:common-test:env-development-repl:build"
                                          *command-line-args*)
                  System/exit)
              (catch Exception e
                (println "Repl failed also - error during repl startup" (ex-message e))))}
  wf-4 {:depends [-base-deps]
        :doc "Full test and formatting."
        :enter (tasks-common/enter wf-4/cli-opts (current-task))
        :requires [[automaton-build.tasks.4 :as wf-4]]
        :task (System/exit (wf-4/run [:common-test :env-development-test]))}}}
