{:app-name "automaton-web-dev"
 :task-shared {:gha {}
               :publication {:as-lib org.clojars.hephaistox/automaton-web-dev
                             :env {:la {}
                                   :production {}}
                             :frontend {:run-aliases [:browser-test :ltest]}
                             :license {}
                             :repo
                             "git@github.com:hephaistox/automaton-web-dev.git"}
               :repl-aliases [:common-test :env-development-repl :build]}
 :tasks {:clean {:dirs [".cpcache/"
                        ".clj-kondo/.cache/"
                        "tmp/"
                        "target/"
                        "node_modules/"
                        ".shadow-cljs/builds/"]}
         :lfe-test {}
         :lfe-watch {}
         :reports {:forbiddenwords-words #{"automaton-build" "landing" "tap>"}}
         :update-deps {:exclude-libs
                       #{"com.taoensso/encore"
                         "org.clojars.hephaistox/automaton-build@*-*"
                         "org.clojars.hephaistox/automaton-core@*-*"}}}}
