{:app-name "automaton-web-dev"
 :task-shared {:gha {}
               :publication {:as-lib org.clojars.hephaistox/automaton-web-dev
                             :major-version "0.0.%d"
                             :repo "git@github.com:hephaistox/automaton-web-dev.git"}
               :repl-aliases [:common-test :env-development-repl :build]}
 :tasks {:clean {:dirs [".cpcache/" ".clj-kondo/.cache/" "tmp/" "target/" "node_modules/" ".shadow-cljs/builds/"]}
         :reports {:forbiddenwords-words #{"landing" "tap>"}}}}
