{:aliases
 {:antq {:deps {com.github.liquidz/antq {:mvn/version "2.9.1217"}}
         :main-opts ["-m" "antq.core"]}
  :cljs-deps {:extra-deps {binaryage/devtools #:mvn{:version "1.0.7"}
                           clj-commons/pushy #:mvn{:version "0.3.10"}
                           cljsjs/highlight #:mvn{:version "11.7.0-0"}
                           com.andrewmcveigh/cljs-time #:mvn{:version "0.5.2"}
                           com.taoensso/encore #:mvn{:version "3.62.1"}
                           com.taoensso/sente #:mvn{:version "1.19.2"}
                           com.taoensso/tempura #:mvn{:version "1.5.3"}
                           day8.re-frame/http-fx #:mvn{:version "0.2.4"}
                           day8.re-frame/re-frame-10x #:mvn{:version "1.9.9"}
                           day8.re-frame/tracing #:mvn{:version "0.6.2"}
                           lambdaisland/uri #:mvn{:version "1.19.155"}
                           metosin/reitit #:mvn{:version "0.7.1"}
                           metosin/reitit-frontend #:mvn{:version "0.7.1"}
                           mount/mount #:mvn{:version "0.1.19"}
                           no.cjohansen/portfolio #:mvn{:version "2024.06.30"}
                           re-frame/re-frame #:mvn{:version "1.4.3"}
                           reagent/reagent #:mvn{:version "1.2.0"}
                           thheller/shadow-cljs #:mvn{:version "2.28.12"}}
              :extra-paths ["src/cljs"
                            "src/cljc"
                            "resources"
                            "test/cljs"
                            "test/cljc"
                            "env/development/src/cljc"
                            "env/development/src/cljs"]}
  :common-test
  {:exec-fn cognitect.test-runner.api/test
   :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner"
                                           :sha "9d36f36ff541dac680a05010e4348c744333f191"}
                org.clojure/tools.namespace #:mvn{:version "1.5.0"}
                org.clojure/tools.reader #:mvn{:version "1.5.0"}}
   :extra-paths ["test/clj" "test/cljc" "test/resources"]
   :jvm-opts ["-Dheph-conf=env/test/config.edn,env/common_config.edn" "-Dhephaistox-in-test=true"]}
  :deploy {:exec-args {:installer :remote}
           :exec-fn deps-deploy.deps-deploy/deploy
           :extra-deps {slipset/deps-deploy {:git/url "https://github.com/Kaspazza/deps-deploy"
                                             :sha "7b4b72d124f788c9e4a876e0ba55899fd9091f1d"}}}
  :env-development-repl
  {:extra-deps {org.clojars.hephaistox/automaton-core {:mvn/version "1.5.0-13-la"}
                org.clojure/core.async #:mvn{:version "1.6.681"}}
   :extra-paths ["env/development/resources" "env/development/src/clj" "env/development/src/cljc"]
   :jvm-opts ["-Dheph-conf=env/development/config.edn,env/common_config.edn"]
   :main-opts ["-m" "automaton-web-dev.repl.entry-point"]}
  :env-development-test
  {:exec-fn cognitect.test-runner.api/test
   :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner"
                                           :sha "9d36f36ff541dac680a05010e4348c744333f191"}
                org.clojure/tools.namespace {:mvn/version "1.5.0"}
                org.clojure/tools.reader {:mvn/version "1.5.0"}}
   :jvm-opts
   ["-Dhephaistox-in-test=true"
    "-Dlog4j.configurationFile=resources/log_config/appenders.properties,resources/log_config/logging-tests.properties"]
   :main-opts ["-m" "cognitect.test-runner" "-r" ".*-test.*" "-d" "test/clj" "-d" "test/cljc"]}}
 :deps {amalloy/ring-gzip-middleware #:mvn{:version "0.1.4"}
        com.taoensso/sente #:mvn{:version "1.19.2"}
        hiccup/hiccup #:mvn{:version "2.0.0-RC3"}
        http-kit/http-kit #:mvn{:version "2.8.0"}
        metosin/muuntaja #:mvn{:version "0.6.10"}
        metosin/reitit #:mvn{:version "0.7.1"}
        metosin/ring-http-response #:mvn{:version "0.9.4"}
        org.clojars.hephaistox/automaton-core #:mvn{:version "1.5.0-13-la"}
        ring-cors/ring-cors #:mvn{:version "0.1.13"}
        ring/ring #:mvn{:version "1.12.2"}
        ring/ring-anti-forgery #:mvn{:version "1.3.1"}
        ring/ring-ssl #:mvn{:version "0.4.0"}}
 :paths ["src/clj"
         "src/cljc"
         "src/cljs"
         "resources"
         "env/development/src/cljc"
         "env/development/src/cljs"]}
