{:app-name "automaton-web-dev"
 :code {:forbidden-words #{"DONE" "FIXME" "NOTE" "TODO" "automaton-build" "landing" "tap>"}}
 :deps {:excluded-libs []}
 :frontend {:run-aliases [:browser-test :ltest]}
 :publication
 {:base-branch "main"
  :clojars true
  :excluded-aliases
  [:antq :codox :env-development-repl :env-development-test :common-test :cljs-dev-deps :deploy]
  :la-branch "la"
  :pom-xml-license {:name "CC BY-NC 4.0"
                    :url "https://creativecommons.org/licenses/by-nc/4.0/deed.en"}}}
